body{
    background-color: #000000;
    background-repeat: no-repeat;
}
.button {
    color: rgb(255, 255, 255);
    background-color: rgb(62, 255, 3);
    font-family: "Proxima Nova";
    font-weight: 700;
    border-radius: 2.3rem;
}
.button{
    display: block;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: center;
    line-height: 1.8rem;
    width: 50%;
    align-content: center;
    justify-self: center;
    border: 3px solid green;
    margin: auto;
}
h1{
   font-size: xx-large;
   font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;

}
footer{
    margin: auto;
    width: 30%;
    height: auto;
    
   
}
footer ul{
    list-style: none;
    padding-left: 0;
}


footer .ul#social{
    
text-align: right;
list-style: none;
padding-left: 0;
}
footer ul#social li{
    display: inline-block;
    margin-left: 1rem;
}
footer ul#social a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
footer ul#social a:hover{
    text-decoration: none;
    color: #105dd8;
    
}
footer p{
    color: rgb(255, 255, 255);
  
}
footer p:hover{
    color: #105dd8;
    text-transform: capitalize;

}
p{
    font-size: larger;
    font-weight: bold;
    
}

